<!DOCTYPE html>
<html>
<head>
  <title>PostsPFGabriel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<center>

<%= yield %>


<% if user_signed_in? %>
  <li>
  <%= link_to('Logout '+current_user.email, destroy_user_session_path, :method => :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>

</center>
</body>
</html>
